@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.header {
    background-color: #1f2937;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.top-header{
    display: flex;
    justify-content: space-between;
    color: white;
}

.bottom-header{
    display:flex;
    color: white;
    justify-content: center;
    gap: 20px;
}

.h-links {
    display: flex;
    gap: 10px;
}

.main-img{
    height: auto;
    max-width: 250px;
}

.left-main-img {
    height: auto;
    max-width: 350px;    
}

.ollie-button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}

.animal-section,
    .animal-pics,
    .quote-container1,
    .quote-container2,
    .signup,
    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
}

.animal-section {
    flex: 1 1 auto;
}

.animal-pics {
    flex-direction: row;
    gap: 25px;
}

.animal-item,
    .animal-image {
        width: 100%;
        max-width: 450px;
}
.animal-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.animal-image{
    border-color: blue;
    border-style:solid;
}

.quote-container1{
    background-color: gray;
}

.quote-container1 > * {
    flex: 1 1 0;
}

.quote-container2 {
    width:800px;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
}

.quote2{
    font-size: 18px;
    margin-left: auto;
}

.signup {

}

.footer {
    background-color: #1f2937;
    color: white;
}

